<html>
	<head>
	<title></title>
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	</head>
	<body>
	<form>
		<fieldset data-role="controlgroup" data-type="horizontal">
			<input type="radio" name="ChandelierLight" id="OutsideTop" value="3" class="lights">
			<label for="OutsideTop">Outside Top</label>
			<input type="radio" name="ChandelierLight" id="OutsideBottom" value="2" class="lights">
			<label for="OutsideBottom">Outside Bottom</label>
			<input type="radio" name="ChandelierLight" id="BottomOutside" value="4" class="lights">
			<label for="BottomOutside">Bottom Outside</label>		
		</fieldset>
		<fieldset data-role="controlgroup" data-type="horizontal">
			<input type="radio" name="LightControl" id="ON" value="ON">
			<label for="ON">ON</label>
			<input type="radio" name="LightControl" id="OFF" value="OFF">
			<label for="OFF">OFF</label>		
		</fieldset>
			<label for="BrightnessControl">Brightness Control:</label>
			<input type="range" name="BrightnessControl" id="BC" data-hightlight="true" min="0" max="255" value="126">
			<label for="RedControl">Red:</label>			
			<input type="range" name="RedControl" id="RedC" data-hightlight="true" min="0" max="255" value="126">
			<label for="GreenControl">Green:</label>
			<input type="range" name="GreenControl" id="GreenC" data-hightlight="true" min="0" max="255" value="126">
			<label for="BlueControl">Blue:</label>
			<input type="range" name="BlueControl" id="BlueC" data-hightlight="true" min="0" max="255" value="126">
			<input type="button" name="ChangeColor" id="ChangeC" value="Change Color">
		</form>
	<script type="text/javascript" >
			$(document).on("change","#ON",function(){
				console.log("first step")
				$('input[type="radio"]').	filter('.lights').each(function(){
					if($(this).is(':checked')){
						console.log("third step")
						msg = "c:on:"+$(this).val()	
						$.post("/chandelier/"+msg)							
					}				
				})		
			}),
			$(document).on("change","#OFF",function(){
				console.log("first step")
				$('input[type="radio"]').	filter('.lights').each(function(){
					if($(this).is(':checked')){
						msg= "c:off:"+$(this).val() 			
						$.post("/chandelier/"+msg)					
					}				
				})		
			}),
			$(document).on("slidestop","#BC",function(e){
				//alert($("#BC").val());
				Brightness = $("#BC").val()
				$('input[type="radio"]').	filter('.lights').each(function(){
					if($(this).is(':checked')){
						Light = $(this).val()
						msg = "c:set:"+Light+":"+Brightness
						$.post("/chandelier/"+msg)			
					}				
				})			
			}),
			$(document).on("slidestop","#BlueC","#GreenC",function(e){
				alert("dragged me")		
			})
		</script>
	</body>
</html>